*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
.login-container{
    width:400px;
    height:300px;
    border-radius: 25px;
    background-color: rgb(73, 112, 73);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    font-size: 30px;
    text-align: center;
    color: aliceblue;
    
}
body{
    height: 100vh;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center
}
.user-input{
    width: 100%;
    text-align: center;
    line-height: 3.5;
}
input{
    width: 60%;
    padding: 10px;
    border-radius: 25px;
    border: none;
}
input:focus{
    background-color: rgb(130, 187, 187);
}  
button{
    background-color: cornsilk;
    padding: 13px;
    border-radius: 25px;
    border: none;
}
button:hover{
    background-color:rgb(73, 112, 73);
    color:aliceblue;
}
button:active{
    padding: 15px;
    background-color: black;
}
.signup-container{
    width:400px;
    height:500px;
    border-radius: 25px;
    background-color: rgb(73, 112, 73);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.none-container{
    display: none;
}
